<div id="top_div">
  <div id="upload_div">
    <div>
      Song Name:
      <input #textbox type="text" [(ngModel)]="songName" required>
    </div>
    <br>
    <div>
      <input type="file" id="song" (change)="onFileChange($event)" #fileInput>
      <button (click)="clearFile()">Clear File</button>
    </div>
    <br>
    <div>
      <button (click)="onSubmit()">Upload and Convert</button>
    </div>
    <br>
    <div>
      <progress [value]="progress" max="100"></progress>
    </div>
  </div>
  <br>
  <div id="playback_div">
    <div>
      <label>Song:</label>
      <select [(ngModel)]="selectedSong">
        <!--<option *ngFor="let song of songs" [value]="song" [selected]="selectedSong==song ? true : null">-->
        <option *ngFor="let song of user.songNames" [value]="user.songURLS[user.songNames.indexOf(song)]">
          {{song}}
        </option>
      </select>
    </div>
    <div>
      <button (click)="playSelected()" id="playb">Play</button>
    </div>
  </div>
  <br>
  <div id="login_div">
    <div>
      <button id="g_b" (click)="manualLogin()">Sign In</button>
    </div>

    <button (click)="signOut()">Sign Out</button>
  </div>
</div>

