<div id="top_div">
  <button (click)="playSelected()" id="playb">Play</button>
  <label>Song:</label>
  <br>
  <select [(ngModel)]="selectedSong">
    <!--<option *ngFor="let song of songs" [value]="song" [selected]="selectedSong==song ? true : null">-->
    <option *ngFor="let song of user.songNames" [value]="user.songURLS[user.songNames.indexOf(song)]">
      {{song}}
    </option>
  </select>
  <select [(ngModel)]="sampleRates">
    <!--<option *ngFor="let song of songs" [value]="song" [selected]="selectedSong==song ? true : null">-->
    <option [value]="44100">
      44100 Hz
    </option>
    <option [value]="88200">
      88200 Hz
    </option>
  </select>
  <input #textbox type="text" [(ngModel)]="songName" required>
  <input #textbox type="text" [(ngModel)]="songURL" required>
  <button (click)="sendSong()">Post</button>

</div>

